---
import Layout from '../layouts/Layout.astro';
import Typography from '../components/Typography.astro';
import { HPMonth } from '../components/hp-month';
import getMonths from '../data/get-months';
import getCalendarEvents from '../data/get-calendar-events';
import type { GoogleEvent } from '../data/get-calendar-events';

const currentYear = new Date().getFullYear();

const { data: months } = getMonths();

const { data, error } = await getCalendarEvents({ fromYear: currentYear, toYear: currentYear + 1 });
const listUnSorted = data || [];
const list = listUnSorted.sort((a, b) => Date.parse(a.start.date) - Date.parse(b.start.date));
const listOfficial = list.filter((event) => event.description === 'Официален празник');
// 12 months + 1 from the next year
let listByMonth = new Array(13).fill([]);
listOfficial.forEach((event: GoogleEvent) => {
  const eventStartDate = new Date(Date.parse(event.start.date));
  const monthIndex = eventStartDate.getMonth();

  // Current year events
  if (eventStartDate.getFullYear() === currentYear && monthIndex < 12) {
    listByMonth[monthIndex] = [...listByMonth[monthIndex], event];
  }

  // January next year
  if (eventStartDate.getFullYear() === currentYear + 1 && monthIndex === 0) {
    listByMonth[12] = [...listByMonth[12], event];
  }
});
---
<Layout title={`${currentYear} - Тази година`}>
  <Typography element="h2" appearance="h1">{currentYear} - Тази година</Typography>

  {error ? (
    <Typography appearance="h3" font="primary">Има проблем!</Typography>
  ) : (
    <>
      {listByMonth.map((events: GoogleEvent[], index: number) => {
        // Accommodate January next year
        const indexAdjusted = index < 12 ? index : 0;
        const yearAdjusted = index < 12 ? currentYear : currentYear + 1;

        return (
          <div class="section">
            <Typography appearance="h3" font="primary">{months?.[indexAdjusted]?.name || '-'}</Typography>

            {Array.isArray(events) && events.length > 0
              ? <div class="section-grid">
                  <div class="section-grid-column">
                    <HPMonth
                      index={indexAdjusted}
                      year={yearAdjusted}
                      name={months?.[indexAdjusted]?.name}
                      holidays={[...new Set(events.map((event: GoogleEvent) => parseInt(event.start.date.substring(8, 10), 10)))]}
                    />
                  </div>

                  <div class="section-grid-column">
                    {events.map((event: GoogleEvent) => {
                      return <Typography>{event.start.date} - {event.summary}</Typography>
                    })}
                  </div>
                </div>
              : (
                <Typography>{`:(`}</Typography>
              )}
          </div>
        );
      })}
    </>
  )}
</Layout>

<style>
  .section {
    padding-bottom: var(--space-size-x2);
  }

  @media (min-width: 700px) {
    .section-grid {
      display: flex;
      flex-wrap: wrap;
      margin: var(--space-size) calc(var(--space-size-x2) * -1);
    }

    .section-grid-column {
      box-sizing: border-box;
      width: 50%;
      padding: var(--space-size-x2);
    }
  }

  hp-month {
    --hp-month-th-border-color: var(--palette-complimentary);
    --hp-month-td-border-color: transparent;
    --hp-month-weekend-color: #aaa;
    --hp-month-pre-post-color: #aaa;

    min-width: 300px;
    box-sizing: border-box;
    font-family: var(--font-family-primary);
    padding: var(--space-size);
    margin-bottom: var(--space-size-x2);
    background: var(--palette-dominant);
    border: 1px solid var(--palette-complimentary);
    color: var(--palette-complimentary);
  }
</style>
