---
import { getLangFromUrl, useTranslations } from "@i18n/utils";

export interface Props {
  title: string;
}

const { title } = Astro.props;

const locale = getLangFromUrl(Astro.url);
const t = useTranslations(locale);
---

<!doctype html>
<html lang={locale}>
  <head>
    <meta charset="UTF-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href={`${import.meta.env.BASE_URL}favicon.svg`}
    />
    <link rel="manifest" href={`${import.meta.env.BASE_URL}app.webmanifest`} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />

    <title>{title}</title>
    <meta name="description" content={t("GLOBAL.PROJECT_NAME")} />
    <meta name="generator" content={Astro.generator} />

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com"> -->
    <!-- Fonts are locally loaded below. This line is kept just in case. -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,400;0,700;1,400;1,700&family=Sofia+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet"> -->

    <style>
      /* cyrillic-ext */
      @font-face {
        font-family: "Cormorant Infant";
        font-style: italic;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/cormorantinfant/v17/HhyJU44g9vKiM1sORYSiWeAsLN997_Il1hMEfq4.woff2)
          format("woff2");
        unicode-range:
          U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
          U+FE2E-FE2F;
      }
      /* cyrillic */
      @font-face {
        font-family: "Cormorant Infant";
        font-style: italic;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/cormorantinfant/v17/HhyJU44g9vKiM1sORYSiWeAsLN997_Il3xMEfq4.woff2)
          format("woff2");
        unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
      }
      /* latin-ext */
      @font-face {
        font-family: "Cormorant Infant";
        font-style: italic;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/cormorantinfant/v17/HhyJU44g9vKiM1sORYSiWeAsLN997_Il1RMEfq4.woff2)
          format("woff2");
        unicode-range:
          U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
          U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
      }
      /* latin */
      @font-face {
        font-family: "Cormorant Infant";
        font-style: italic;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/cormorantinfant/v17/HhyJU44g9vKiM1sORYSiWeAsLN997_Il2xME.woff2)
          format("woff2");
        unicode-range:
          U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
          U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
          U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
      /* cyrillic-ext */
      @font-face {
        font-family: "Cormorant Infant";
        font-style: italic;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/cormorantinfant/v17/HhyKU44g9vKiM1sORYSiWeAsLN997_ItYDYRTI8ZBrk.woff2)
          format("woff2");
        unicode-range:
          U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
          U+FE2E-FE2F;
      }
      /* cyrillic */
      @font-face {
        font-family: "Cormorant Infant";
        font-style: italic;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/cormorantinfant/v17/HhyKU44g9vKiM1sORYSiWeAsLN997_ItYDYRRY8ZBrk.woff2)
          format("woff2");
        unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
      }
      /* latin-ext */
      @font-face {
        font-family: "Cormorant Infant";
        font-style: italic;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/cormorantinfant/v17/HhyKU44g9vKiM1sORYSiWeAsLN997_ItYDYRT48ZBrk.woff2)
          format("woff2");
        unicode-range:
          U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
          U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
      }
      /* latin */
      @font-face {
        font-family: "Cormorant Infant";
        font-style: italic;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/cormorantinfant/v17/HhyKU44g9vKiM1sORYSiWeAsLN997_ItYDYRQY8Z.woff2)
          format("woff2");
        unicode-range:
          U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
          U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
          U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
      /* cyrillic-ext */
      @font-face {
        font-family: "Cormorant Infant";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/cormorantinfant/v17/HhyPU44g9vKiM1sORYSiWeAsLN997_oV2QsA.woff2)
          format("woff2");
        unicode-range:
          U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
          U+FE2E-FE2F;
      }
      /* cyrillic */
      @font-face {
        font-family: "Cormorant Infant";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/cormorantinfant/v17/HhyPU44g9vKiM1sORYSiWeAsLN997_MV2QsA.woff2)
          format("woff2");
        unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
      }
      /* latin-ext */
      @font-face {
        font-family: "Cormorant Infant";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/cormorantinfant/v17/HhyPU44g9vKiM1sORYSiWeAsLN997_kV2QsA.woff2)
          format("woff2");
        unicode-range:
          U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
          U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
      }
      /* latin */
      @font-face {
        font-family: "Cormorant Infant";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/cormorantinfant/v17/HhyPU44g9vKiM1sORYSiWeAsLN997_cV2Q.woff2)
          format("woff2");
        unicode-range:
          U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
          U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
          U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
      /* cyrillic-ext */
      @font-face {
        font-family: "Cormorant Infant";
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/cormorantinfant/v17/HhyIU44g9vKiM1sORYSiWeAsLN9950wwzDkhQ5cd.woff2)
          format("woff2");
        unicode-range:
          U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
          U+FE2E-FE2F;
      }
      /* cyrillic */
      @font-face {
        font-family: "Cormorant Infant";
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/cormorantinfant/v17/HhyIU44g9vKiM1sORYSiWeAsLN9950wwzDAhQ5cd.woff2)
          format("woff2");
        unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
      }
      /* latin-ext */
      @font-face {
        font-family: "Cormorant Infant";
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/cormorantinfant/v17/HhyIU44g9vKiM1sORYSiWeAsLN9950wwzDohQ5cd.woff2)
          format("woff2");
        unicode-range:
          U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
          U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
      }
      /* latin */
      @font-face {
        font-family: "Cormorant Infant";
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/cormorantinfant/v17/HhyIU44g9vKiM1sORYSiWeAsLN9950wwzDQhQw.woff2)
          format("woff2");
        unicode-range:
          U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
          U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
          U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
      /* cyrillic-ext */
      @font-face {
        font-family: "Sofia Sans";
        font-style: italic;
        font-weight: 300;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/sofiasans/v16/Yq6T-LCVXSLy9uPBwlATrORKnTApcb8.woff2)
          format("woff2");
        unicode-range:
          U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
          U+FE2E-FE2F;
      }
      /* cyrillic */
      @font-face {
        font-family: "Sofia Sans";
        font-style: italic;
        font-weight: 300;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/sofiasans/v16/Yq6T-LCVXSLy9uPBwlATrORKlDApcb8.woff2)
          format("woff2");
        unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
      }
      /* latin-ext */
      @font-face {
        font-family: "Sofia Sans";
        font-style: italic;
        font-weight: 300;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/sofiasans/v16/Yq6T-LCVXSLy9uPBwlATrORKnjApcb8.woff2)
          format("woff2");
        unicode-range:
          U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
          U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
      }
      /* latin */
      @font-face {
        font-family: "Sofia Sans";
        font-style: italic;
        font-weight: 300;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/sofiasans/v16/Yq6T-LCVXSLy9uPBwlATrORKkDAp.woff2)
          format("woff2");
        unicode-range:
          U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
          U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
          U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
      /* cyrillic-ext */
      @font-face {
        font-family: "Sofia Sans";
        font-style: italic;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/sofiasans/v16/Yq6T-LCVXSLy9uPBwlATrORKnTApcb8.woff2)
          format("woff2");
        unicode-range:
          U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
          U+FE2E-FE2F;
      }
      /* cyrillic */
      @font-face {
        font-family: "Sofia Sans";
        font-style: italic;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/sofiasans/v16/Yq6T-LCVXSLy9uPBwlATrORKlDApcb8.woff2)
          format("woff2");
        unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
      }
      /* latin-ext */
      @font-face {
        font-family: "Sofia Sans";
        font-style: italic;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/sofiasans/v16/Yq6T-LCVXSLy9uPBwlATrORKnjApcb8.woff2)
          format("woff2");
        unicode-range:
          U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
          U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
      }
      /* latin */
      @font-face {
        font-family: "Sofia Sans";
        font-style: italic;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/sofiasans/v16/Yq6T-LCVXSLy9uPBwlATrORKkDAp.woff2)
          format("woff2");
        unicode-range:
          U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
          U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
          U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
      /* cyrillic-ext */
      @font-face {
        font-family: "Sofia Sans";
        font-style: italic;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/sofiasans/v16/Yq6T-LCVXSLy9uPBwlATrORKnTApcb8.woff2)
          format("woff2");
        unicode-range:
          U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
          U+FE2E-FE2F;
      }
      /* cyrillic */
      @font-face {
        font-family: "Sofia Sans";
        font-style: italic;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/sofiasans/v16/Yq6T-LCVXSLy9uPBwlATrORKlDApcb8.woff2)
          format("woff2");
        unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
      }
      /* latin-ext */
      @font-face {
        font-family: "Sofia Sans";
        font-style: italic;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/sofiasans/v16/Yq6T-LCVXSLy9uPBwlATrORKnjApcb8.woff2)
          format("woff2");
        unicode-range:
          U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
          U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
      }
      /* latin */
      @font-face {
        font-family: "Sofia Sans";
        font-style: italic;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/sofiasans/v16/Yq6T-LCVXSLy9uPBwlATrORKkDAp.woff2)
          format("woff2");
        unicode-range:
          U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
          U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
          U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
      /* cyrillic-ext */
      @font-face {
        font-family: "Sofia Sans";
        font-style: italic;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/sofiasans/v16/Yq6T-LCVXSLy9uPBwlATrORKnTApcb8.woff2)
          format("woff2");
        unicode-range:
          U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
          U+FE2E-FE2F;
      }
      /* cyrillic */
      @font-face {
        font-family: "Sofia Sans";
        font-style: italic;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/sofiasans/v16/Yq6T-LCVXSLy9uPBwlATrORKlDApcb8.woff2)
          format("woff2");
        unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
      }
      /* latin-ext */
      @font-face {
        font-family: "Sofia Sans";
        font-style: italic;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/sofiasans/v16/Yq6T-LCVXSLy9uPBwlATrORKnjApcb8.woff2)
          format("woff2");
        unicode-range:
          U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
          U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
      }
      /* latin */
      @font-face {
        font-family: "Sofia Sans";
        font-style: italic;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/sofiasans/v16/Yq6T-LCVXSLy9uPBwlATrORKkDAp.woff2)
          format("woff2");
        unicode-range:
          U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
          U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
          U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
      /* cyrillic-ext */
      @font-face {
        font-family: "Sofia Sans";
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/sofiasans/v16/Yq6R-LCVXSLy9uPBwlATrOx6kigt.woff2)
          format("woff2");
        unicode-range:
          U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
          U+FE2E-FE2F;
      }
      /* cyrillic */
      @font-face {
        font-family: "Sofia Sans";
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/sofiasans/v16/Yq6R-LCVXSLy9uPBwlATrOV6kigt.woff2)
          format("woff2");
        unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
      }
      /* latin-ext */
      @font-face {
        font-family: "Sofia Sans";
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/sofiasans/v16/Yq6R-LCVXSLy9uPBwlATrO96kigt.woff2)
          format("woff2");
        unicode-range:
          U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
          U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
      }
      /* latin */
      @font-face {
        font-family: "Sofia Sans";
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/sofiasans/v16/Yq6R-LCVXSLy9uPBwlATrOF6kg.woff2)
          format("woff2");
        unicode-range:
          U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
          U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
          U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
      /* cyrillic-ext */
      @font-face {
        font-family: "Sofia Sans";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/sofiasans/v16/Yq6R-LCVXSLy9uPBwlATrOx6kigt.woff2)
          format("woff2");
        unicode-range:
          U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
          U+FE2E-FE2F;
      }
      /* cyrillic */
      @font-face {
        font-family: "Sofia Sans";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/sofiasans/v16/Yq6R-LCVXSLy9uPBwlATrOV6kigt.woff2)
          format("woff2");
        unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
      }
      /* latin-ext */
      @font-face {
        font-family: "Sofia Sans";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/sofiasans/v16/Yq6R-LCVXSLy9uPBwlATrO96kigt.woff2)
          format("woff2");
        unicode-range:
          U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
          U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
      }
      /* latin */
      @font-face {
        font-family: "Sofia Sans";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/sofiasans/v16/Yq6R-LCVXSLy9uPBwlATrOF6kg.woff2)
          format("woff2");
        unicode-range:
          U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
          U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
          U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
      /* cyrillic-ext */
      @font-face {
        font-family: "Sofia Sans";
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/sofiasans/v16/Yq6R-LCVXSLy9uPBwlATrOx6kigt.woff2)
          format("woff2");
        unicode-range:
          U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
          U+FE2E-FE2F;
      }
      /* cyrillic */
      @font-face {
        font-family: "Sofia Sans";
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/sofiasans/v16/Yq6R-LCVXSLy9uPBwlATrOV6kigt.woff2)
          format("woff2");
        unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
      }
      /* latin-ext */
      @font-face {
        font-family: "Sofia Sans";
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/sofiasans/v16/Yq6R-LCVXSLy9uPBwlATrO96kigt.woff2)
          format("woff2");
        unicode-range:
          U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
          U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
      }
      /* latin */
      @font-face {
        font-family: "Sofia Sans";
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/sofiasans/v16/Yq6R-LCVXSLy9uPBwlATrOF6kg.woff2)
          format("woff2");
        unicode-range:
          U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
          U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
          U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
      /* cyrillic-ext */
      @font-face {
        font-family: "Sofia Sans";
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/sofiasans/v16/Yq6R-LCVXSLy9uPBwlATrOx6kigt.woff2)
          format("woff2");
        unicode-range:
          U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
          U+FE2E-FE2F;
      }
      /* cyrillic */
      @font-face {
        font-family: "Sofia Sans";
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/sofiasans/v16/Yq6R-LCVXSLy9uPBwlATrOV6kigt.woff2)
          format("woff2");
        unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
      }
      /* greek */
      @font-face {
        font-family: "Sofia Sans";
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/sofiasans/v16/Yq6R-LCVXSLy9uPBwlATrOJ6kigt.woff2)
          format("woff2");
        unicode-range:
          U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1,
          U+03A3-03FF;
      }
      /* latin-ext */
      @font-face {
        font-family: "Sofia Sans";
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/sofiasans/v16/Yq6R-LCVXSLy9uPBwlATrO96kigt.woff2)
          format("woff2");
        unicode-range:
          U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
          U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
      }
      /* latin */
      @font-face {
        font-family: "Sofia Sans";
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/sofiasans/v16/Yq6R-LCVXSLy9uPBwlATrOF6kg.woff2)
          format("woff2");
        unicode-range:
          U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
          U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
          U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
    </style>

    <script is:inline>
      // document.addEventListener('astro:page-load', () => {
      const rootElement = document.documentElement;
      const colorSchemeDefaultValue = "light";

      const getColorScheme = () => {
        const storedValue = localStorage.getItem("colorScheme");
        const isLight =
          window.matchMedia &&
          window.matchMedia("(prefers-color-scheme: light)").matches;
        const isDark =
          window.matchMedia &&
          window.matchMedia("(prefers-color-scheme: dark)").matches;

        if (storedValue) {
          return storedValue;
        } else if (isLight) {
          return "light";
        } else if (isDark) {
          return "dark";
        }

        return colorSchemeDefaultValue;
      };

      const setColorScheme = (colorScheme = colorSchemeDefaultValue) => {
        rootElement.dataset.colorScheme = colorScheme;

        localStorage.setItem("colorScheme", colorScheme);
      };

      setColorScheme(getColorScheme());

      document.addEventListener("DOMContentLoaded", () => {
        const colorSchemeTriggerElement = document.querySelector(
          "#color-scheme-trigger",
        );

        colorSchemeTriggerElement.addEventListener("click", () => {
          const colorScheme = getColorScheme();

          if (colorScheme === "light") {
            setColorScheme("dark");
          } else if (colorScheme === "dark") {
            setColorScheme("light");
          }
        });

        window
          .matchMedia("(prefers-color-scheme: dark)")
          .addEventListener("change", (event) => {
            setColorScheme(event.matches ? "dark" : "light");
          });
      });
      // });
    </script>
  </head>
  <body id="body">
    <slot />
  </body>
</html>

<style is:global>
  * {
    padding: 0;
    margin: 0;
    outline: 0;
  }

  :root,
  :root[data-color-scheme="light"] {
    color-scheme: light;

    --space-size-100: 0.25rem;
    --space-size-200: 0.5rem;
    --space-size-300: 0.75rem;
    --space-size-400: 1rem;
    --space-size-500: 1.25rem;
    --space-size-600: 1.5rem;
    --space-size-700: 1.75rem;
    --space-size-800: 2rem;

    --font-family-primary: "Sofia Sans", sans-serif;
    --font-family-secondary: "Cormorant Infant", serif;
    --font-size-h1: 4.209rem;
    --font-size-h2: 3.157rem;
    --font-size-h3: 2.369rem;
    --font-size-h4: 1.777rem;
    --font-size-h5: 1.333rem;
    --font-size-p: 1rem;
    --font-size-small: 0.75rem;

    /* 60% Backgrounds mainly (light/dark) */
    --palette-dominant: #f0eddb;
    --palette-dominant-contrast: #0e0d06;
    --palette-primary: #fb5e09;
    --palette-primary-contrast: var(--palette-dominant-contrast);
    --palette-secondary: #fff6c0;
    --palette-secondary-contrast: var(--palette-dominant-contrast);
    --palette-accent: #f5cb5c;
    --palette-accent-contrast: var(--palette-dominant-contrast);
    --palette-semantic-success: #00ff00;
    --palette-semantic-warning: #ffff00;
    --palette-semantic-error: #ff0000;
    --palette-semantic-info: #0000ff;

    --selection-background-color: var(--palette-accent);
    --selection-color: var(--palette-accent-contrast);

    /* blocks */
    --block-logo-gradient-top: #fb5e09;
    --block-logo-gradient-bottom: #f5cb5c;
    --block-pad-background: var(--palette-secondary);
    --block-pad-color: var(--palette-secondary-contrast);
    --block-calendar-timeline-color: var(--palette-dominant-contrast);
    --block-calendar-background: var(--palette-dominant);
    --block-calendar-color: var(--palette-dominant-contrast);
    --block-calendar-holiday-background: var(--palette-accent);
    --block-calendar-holiday-color: var(--palette-accent-contrast);
    --block-calendar-suggestion-background: var(--palette-secondary);
    --block-calendar-suggestion-color: var(--palette-secondary-contrast);
    --block-calendar-today-background: var(--palette-primary);
    --block-calendar-today-color: var(--palette-primary-contrast);
    --block-calendar-th-border-color: var(--palette-secondary);
    --block-calendar-td-border-color: transparent;
    --block-calendar-weekend-background: var(--palette-dominant);
    --block-calendar-weekend-color: #aaa;
    --block-calendar-pre-post-color: #aaa;
  }

  :root[data-color-scheme="dark"] {
    color-scheme: dark;

    /* 60% Backgrounds mainly (light/dark) */
    --palette-dominant: #060604;
    --palette-dominant-contrast: #f9f8f1;
    --palette-primary: #f65904;
    --palette-primary-contrast: var(--palette-dominant);
    --palette-secondary: #292304;
    --palette-secondary-contrast: var(--palette-dominant-contrast);
    --palette-accent: #ffd800;
    --palette-accent-contrast: var(--palette-dominant);
    --palette-semantic-success: #00ff00;
    --palette-semantic-warning: #ffff00;
    --palette-semantic-error: #ff0000;
    --palette-semantic-info: #0000ff;

    /* blocks */
    --block-logo-gradient-top: #f65904;
    --block-logo-gradient-bottom: #fcdb22;
    --block-pad-background: var(--palette-secondary);
    --block-pad-color: var(--palette-secondary-contrast);
    --block-calendar-timeline-color: var(--palette-dominant-contrast);
    --block-calendar-background: var(--palette-dominant);
    --block-calendar-color: var(--palette-dominant-contrast);
    --block-calendar-holiday-background: var(--palette-accent);
    --block-calendar-holiday-color: var(--palette-accent-contrast);
    --block-calendar-suggestion-background: var(--palette-secondary);
    --block-calendar-suggestion-color: var(--palette-secondary-contrast);
    --block-calendar-today-background: var(--palette-primary);
    --block-calendar-today-color: var(--palette-primary-contrast);
    --block-calendar-th-border-color: var(--palette-secondary);
    --block-calendar-td-border-color: transparent;
    --block-calendar-weekend-background: var(--palette-dominant);
    --block-calendar-weekend-color: #aaa;
    --block-calendar-pre-post-color: #aaa;
  }

  *:focus-visible {
    outline: 1px solid var(--palette-accent);
  }

  ::selection {
    background-color: var(--palette-accent);
    color: var(--palette-accent-contrast);
  }

  html {
    scroll-behavior: smooth;
  }

  @supports (view-transition-name: none) {
    @view-transition {
      navigation: auto;
    }
  }
</style>

<style>
  html {
    accent-color: var(--palette-accent);
    overflow-x: hidden;
    overflow-y: scroll;
    background: var(--palette-dominant);
    font-family: var(--font-family-primary);
    font-size: 80%;
    color: var(--palette-dominant-contrast);
  }

  @media (min-width: 500px) {
    html {
      font-size: 100%;
    }
  }

  body {
    font-size: 1rem;
    padding-bottom: 80px;
  }
</style>
