---
import { composeMonthData, getWeekDays } from "./hp-month/utils";

export interface Props {
  index: number;
  year: number;
  name?: string;
  holidays?: number[];
  now?: string;
  locale?: string;
  class?: string;
}

const {
  index = 0,
  year,
  name,
  holidays = [],
  now = "",
  locale = "bg",
  class: className,
} = Astro.props;

const monthData = composeMonthData(index, year, holidays);
const weekDays = getWeekDays(locale);

const isToday = (day: any) => {
  if (!now || !+day.label) {
    return false;
  }

  const today = new Date(+now);
  const todayYear = today.getFullYear();
  const todayMonthIndex = today.getMonth();
  const todayDay = today.getDate();

  return (
    todayYear === year && todayMonthIndex === index && todayDay === +day.label
  );
};

const getTemporalState = () => {
  if (!now) {
    return "";
  }

  const today = new Date(+now);
  const todayYear = today.getFullYear();
  const todayMonthIndex = today.getMonth();

  if (todayYear === year && todayMonthIndex === index) {
    return "present";
  } else if (
    todayYear > year ||
    (todayYear === year && todayMonthIndex > index)
  ) {
    return "past";
  } else {
    return "future";
  }
};

const temporalState = getTemporalState();
---

<div
  class:list={["root", className]}
  data-temporal-state={temporalState}
  data-month={index}
>
  {
    monthData && monthData.length > 0 && (
      <table data-month={index}>
        {name && name.length > 0 && <caption>{name}</caption>}
        <thead>
          <tr>
            {weekDays.map((day, idx) => (
              <th>{day}</th>
            ))}
          </tr>
        </thead>
        <tbody>
          {monthData.map((days, weekIdx) => (
            <tr>
              {days.map((day, dayIdx) => {
                const today = isToday(day) ? "today" : undefined;
                const todayPart = today || undefined;

                if (day.label === "preMonth") {
                  return <td class="pre-month">x</td>;
                }

                if (day.label === "postMonth") {
                  return <td class="post-month">x</td>;
                }

                if (day.suggestion) {
                  return (
                    <td class="suggestion" id={today} part={todayPart}>
                      {day.label}
                    </td>
                  );
                }

                if (day.holiday) {
                  return (
                    <td class="holiday" id={today} part={todayPart}>
                      {day.label}
                    </td>
                  );
                }

                return (
                  <td id={today} part={todayPart}>
                    {day.label}
                  </td>
                );
              })}
            </tr>
          ))}
        </tbody>
      </table>
    )
  }
</div>

<style>
  .root {
    font-family: sans-serif;
    background: var(--block-calendar-background, #fff);
    color: var(--block-calendar-color, #000);
    overflow: hidden;
    border-radius: 10px;
    margin: 10px 0;
    display: block;
  }

  .root ::selection {
    background-color: var(--selection-background-color);
    color: var(--selection-color);
  }

  .root table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
  }

  .root table caption {
    margin: 0 0 10px;
    font-size: 18px;
    line-height: 1.2;
    font-weight: normal;
    text-align: var(--block-calendar-caption-text-align, center);
  }

  .root table tr th {
    border-bottom: 1px solid var(--block-calendar-th-border-color, #000);
    font-weight: normal;
  }

  .root table tr td {
    border-bottom: 1px solid var(--block-calendar-td-border-color, #aaa);
  }

  .root table tr:last-child td {
    border-bottom: none;
  }

  .root table th,
  .root table td {
    padding: 6px;
    font-size: 14px;
  }

  .root table td:nth-last-child(2),
  .root table td:last-child {
    background: var(--block-calendar-weekend-background, #fff);
    color: var(--block-calendar-weekend-color, #000);
  }

  .root table td.suggestion {
    background: var(--block-calendar-suggestion-background, #666);
    color: var(--block-calendar-suggestion-color, #fff);
  }

  .root table td.holiday {
    background: var(--block-calendar-holiday-background, #222);
    color: var(--block-calendar-holiday-color, #fff);
  }

  .root table td#today {
    background: var(--block-calendar-today-background, red);
    color: var(--block-calendar-today-color, #fff);
  }

  .root table td.pre-month,
  .root table td.post-month {
    color: var(--block-calendar-pre-post-color, #000);
  }
</style>
